In [2]:
from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException
import json
import urllib.parse

import time
import requests
import pandas as pd
import os
import re
import numpy as np

In [3]:
input_csv_file = 'modified_column_second.csv'
try:
    df = pd.read_csv(input_csv_file, encoding='utf-8-sig')
except FileNotFoundError:
    print(f"오류: {input_csv_file} 파일을 찾을 수 없습니다. 파일 경로와 이름을 확인해주세요.")
    exit()

df

                     model  year oilingtype  mileage  price
0      the_new_grandeur_IG    22   gasoline    33006   2470
1      the_new_grandeur_IG    23   gasoline    25822   2990
2             grandeur_GN7    25   gasoline     1808   3420
3      grandeur_hybrid_GN7    23     hybrid    25626   4030
4              grandeur_IG    18   gasoline    80191   1579
...                    ...   ...        ...      ...    ...
10553          grandeur_IG    18   gasoline   243848    900
10554          grandeur_IG    20   gasoline    96914   1990
10555   grandeur_IG_hybrid    18     hybrid   169089   1480
10556  the_new_grandeur_IG    22   gasoline    26404   2500
10557  the_new_grandeur_IG    21   gasoline    67085   2720

[10558 rows x 5 columns]

In [4]:
# 연형 2자리를 4자리 연도로 변형

for i in range(10558):
    original_value = df['year'][i]
    
    if 0 <= original_value < 10:       
        a = str(original_value)
        new_num = int("200" + str(a)) 
        df.at[i, 'year'] = new_num
    elif 10 <= original_value <30:
        a = str(original_value)
        new_num = int("20" + str(a)) 
        df.at[i, 'year'] = new_num
    elif 30 <= original_value < 100 :
        a = str(original_value)
        new_num = int("19" + str(a)) 
        df.at[i, 'year'] = new_num
        
       
df

                     model  year oilingtype  mileage  price
0      the_new_grandeur_IG  2022   gasoline    33006   2470
1      the_new_grandeur_IG  2023   gasoline    25822   2990
2             grandeur_GN7  2025   gasoline     1808   3420
3      grandeur_hybrid_GN7  2023     hybrid    25626   4030
4              grandeur_IG  2018   gasoline    80191   1579
...                    ...   ...        ...      ...    ...
10553          grandeur_IG  2018   gasoline   243848    900
10554          grandeur_IG  2020   gasoline    96914   1990
10555   grandeur_IG_hybrid  2018     hybrid   169089   1480
10556  the_new_grandeur_IG  2022   gasoline    26404   2500
10557  the_new_grandeur_IG  2021   gasoline    67085   2720

[10558 rows x 5 columns]

In [5]:
df.to_csv('modified_column_forth.csv', index=False, encoding='utf-8-sig')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10558 entries, 0 to 10557
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model       10558 non-null  object
 1   year        10558 non-null  int64
 2   oilingtype  10558 non-null  object
 3   mileage     10558 non-null  int64
 4   price       10558 non-null  int64
dtypes: int64(3), object(2)
memory usage: 412.5+ KB

In [7]:
df.to_csv('hyundai_third.csv', index=False, encoding='utf-8-sig')

In [9]:
df['oilingtype'] = df['oilingtype'].str.replace('gasolineLPG', 'LPG', regex=False)
df['oilingtype'] = df['oilingtype'].str.replace('LPG(일반인 구입)', 'LPG', regex=False)


df

                     model  year oilingtype  mileage  price
0      the_new_grandeur_IG  2022   gasoline    33006   2470
1      the_new_grandeur_IG  2023   gasoline    25822   2990
2             grandeur_GN7  2025   gasoline     1808   3420
3      grandeur_hybrid_GN7  2023     hybrid    25626   4030
4              grandeur_IG  2018   gasoline    80191   1579
...                    ...   ...        ...      ...    ...
10553          grandeur_IG  2018   gasoline   243848    900
10554          grandeur_IG  2020   gasoline    96914   1990
10555   grandeur_IG_hybrid  2018     hybrid   169089   1480
10556  the_new_grandeur_IG  2022   gasoline    26404   2500
10557  the_new_grandeur_IG  2021   gasoline    67085   2720

[10558 rows x 5 columns]

In [11]:
df.to_csv('hyundai_fifth.csv', index=False, encoding='utf-8-sig')